<% if response.status == 200 %>
  $(".empty-row").replaceWith("<%= j render 'pancakes/records/new_record', record: @record %>")
<% else %>
  $(".footer .errors").addClass("alert-danger");
  $(".footer .errors").append("<p><%= j @error.message %></p>");
<% end %>
